/* background */
.bg-cuatoi{
    background-color: #c2c2c2;
}
/* css chung */
a{
    text-decoration: none;
}

.m-l-42{
    margin-left: 42px;
}

/* css header admin */
.menu {
    text-align: center;
    box-sizing: border-box;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    padding: 2%;
}

.menu ul li a {
    text-decoration: none;
    line-height: 45px;
    color: #fff;
    font-size: 24px;
}

.menu ul li a:hover {
    color: #cccc;
}

/* css Dashboard */
.col-4 {
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    text-align: center;   
}

.wrapper-col-4 {
    display: flex;
    justify-content: space-between;
}